# =========================
# Python virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python bytecode / cache
# =========================
py-src/__pycache__

# =========================
# Environment variables
# =========================
.env
*.env